<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="cestaData" value=""/>

    <add key="vycitajData1" value="1"/>
    <add key="ipAdresa1" value="192.168.1.100"/>
    <add key="port1" value="102"/>

    <add key="vycitajData2" value="1"/>
    <add key="ipAdresa2" value="192.168.1.102"/>
    <add key="port2" value="102"/>

    <add key="vycitajData3" value="1"/>
    <add key="ipAdresa3" value="192.168.1.104"/>
    <add key="port3" value="102"/>

  </appSettings>
</configuration>