<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="cestaData" value=""/>
      
        <add key="vycitajData1" value="1"/>
        <add key="ipAdresa1" value="213.215.84.85"/>
        <add key="port1" value="8881"/>

    </appSettings>
</configuration>